.svn
database.yml
schema.rb
tmp
log
files
.metadata
.loadpath
.settings
.project
debug.log
.DS_Store
Thumbs.db
Thumbs.db:encryptable
coverage
/doc
config/appconfig.yml
.tmp*
config/selenium.yml
config/maintenance_modes.yml
app/views/cms/pages/generated
public/javascripts/all-*.js
public/stylesheets/all-*.css
public/images/cms
public/images/directory
._*
db/*_structure.sql
.devver
